<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="xarm7_with_linear_guide">

  <!-- Load linear guide -->
  <xacro:include filename="$(find xarm_description)/urdf/xarm7/xarm7_linear_guide.urdf.xacro"/>
  <xacro:include filename="$(find xarm_description)/urdf/xarm7/xarm7.urdf.xacro"/>
  <xacro:include filename="$(find xarm_description)/urdf/xarm7/xarm7_robot_macro.xacro"/>

  <!-- Robot on top of linear base -->
  <xacro:xarm7_robot
    prefix="${prefix}" hw_ns="${hw_ns}" limited="${limited}"
    velocity_control="${velocity_control}"
    ros2_control_plugin="${ros2_control_plugin}"
    add_gripper="${add_gripper}" add_bio_gripper="${add_bio_gripper}"
    robot_ip="${robot_ip}" report_type="${report_type}"
    baud_checkset="${baud_checkset}" default_gripper_baud="${default_gripper_baud}"
    model_num="${model_num}" inertial_params_filename="${inertial_params_filename}"
    kinematics_params_filename="${kinematics_params_filename}"
    hard_interface="${hard_interface}" />

  <!-- Mount robot -->
  <joint name="robot_mount_joint" type="fixed">
    <parent link="linear_base"/>
    <child link="${prefix}link_base"/>
    <origin xyz=" 0 0 0" rpy="0 0 0"/>
  </joint>

</robot>
